.container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &__card{
        border-radius: 20px;
        box-shadow: -1px -1px 64px -10px #000000bf;
        -webkit-box-shadow: -1px -1px 64px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px -1px 64px -10px rgba(0,0,0,0.75);
        width: 300px;
        height: auto;
        padding: 16px;
        cursor: pointer;
    }
}
